/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @font-face {
   font-family: "Caesar Little SS";
   src: url(/assets/Caesar Little SS.ttf) format("truetype");
 }





 @media screen and (max-width: 1900px) {
 	#signimage {
 		width: 375px;
 		height: 98vh;
 		margin-left: auto;
 		margin-right: auto;
 	}
 		/*body {
 			width: 100%;
 			height: 100%;
 			margin-left: auto;
 			margin-right: auto;
 		}*/
 }
 ul {
 	list-style: none;
 	font-size: 40px;
 	font-weight: bold;
 	margin-left: 30px;
 }

 li {
 	padding: 20px;
 }
 /*Ipad 768 x1024
 ip 6 plius414 x 736
 Nexus 411 x 731
 ip 6 375 x 667
 Galaxy 360 x 640
 Iphone 5 320 x 568*/
 div.signin-bottom {
 	font-size: 13px;
 }
 	@media screen and (max-width: 380px) {
 	#signimage {
 		width: 100%;
 		height: 98vh;
 		margin-left: auto;
 		margin-right: auto;
 	}

 	div.signin-bottom {
 		font-size: 8px;
 	}
 	#map {
 		border: 2px solid #730001;
 		border-radius: 10px;
 		width: 80%;
 		height: 40vh;
 	}


 		/*body {
 			width: 100%;
 			height: 100%;
 			margin-left: auto;
 			margin-right: auto;
 		}*/
 }


 @media screen and (max-width: 327px) {
 #signimage {
 	width: 100%;
 	height: 98vh;
 	margin-left: auto;
 	margin-right: auto;
 }

 div.signin-bottom {
 	font-size: 10px;
 }

 div.signin-bottom-r {

 	font-size: 10px;
 }



 #map {
 	border: 2px solid #730001;
 	border-radius: 10px;
 	width: 80%;
 	height: 40vh;
 }

 a {
 	font-size: 6px;

 }

 	/*body {
 		width: 100%;
 		height: 100%;
 		margin-left: auto;
 		margin-right: auto;
 	}*/
 }
